.head {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em;
}

.logo a {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.logo img {
  width: 2em;
  margin-right: 0.4em;
}

main {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  background: #f9f9f9;
  padding: 1em;
}

section {
  position: relative;
  width: 100%;
  min-height: 200px;
  margin: 1em;
  background: #fff;
  box-shadow: 0 0.1em 0.4em #ddd;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

section::before {
  content: "";
  display: block;
  height: 0.4em;
  background: linear-gradient(to right, #a5ec09, #08d7d7);
}

.message {
  position: absolute;
  top: 0.2em;
  width: 100%;
  padding: 0.8em;
  box-sizing: border-box;
  background: #f1f7f8;
  text-align: center;
  z-index: 1;
}

h1,
h2 {
  font-weight: unset;
  margin: 0;
}

h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
  padding: 1em;
  height: 100%;
}

.config {
  display: flex;
  align-items: center;
  margin: 0.3em 0;
  min-height: 30px;
}

.label {
  min-width: 150px;
}

input {
  width: 100%;
  padding: 6px 4px;
}

.center {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
}

footer > * {
  cursor: pointer;
  padding: 1em;
  flex-grow: 1;
  text-align: center;
  color: unset;
  background-color: #f9f9f9;
  transition: background-color 0.4s;
}

footer > *:hover {
  background-color: #f0f0f0;
}

@media only screen and (min-width: 900px) {
  section {
    width: calc(50% - 2em);
  }
}

@media only screen and (min-width: 1200px) {
  section {
    width: calc(33.3% - 2em);
  }
}
